<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="container-fluid">
    <!-- Home Section -->
    <section id="homeSection" class="jumbotron">
      <h1 class="display-5">
        <%= htmlWebpackPlugin.options.title %>
      </h1>
      <p class="lead">
        Use sus datos CSV para luego ser visualizados en el mapa
      </p>
      <hr class="my-4" />
      <p>Cuando esté listo, click en el botón de abajo para continuar.</p>
      <button id="getStartedButton" class="btn btn-primary">
        Iniciar
      </button>
    </section>

    <!-- Import Data Section -->
    <section id="importSection" class="jumbotron" style="display: none;">
      <h1 class="display-5">Importar Datos</h1>
      <div class="row">
        <div class="col">
          <p class="lead">Seleccione un archivo CSV para parsear y usar con el mapa.</p>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input id="csvFileInput" type="file" class="custom-file-input" accept=".csv" required />
              <label id="csvFileLabel" class="custom-file-label" for="csvFileInput">Eligir archivo CSV ...</label>
            </div>
          </div>
        </div>
        <div class="col">
          <p class="lead">O seleccione un archivo JSON para abrir un mapa guardado.</p>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input id="jsonFileInput" type="file" class="custom-file-input" accept="application/json" required />
              <label id="jsonFileLabel" class="custom-file-label" for="jsonFileInput">Elegir archivo JSON...</label>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <p>Cuando este listo, click en el boton de abajo para importar sus datos.</p>
      <button id="importButton" class="btn btn-primary">Importar</button>
    </section>

    <!-- Select Fields Section -->
    <section id="fieldsSection" class="jumbotron" style="display: none;">
      <h1 class="display-5">Seleccione Campos</h1>
      <p class="lead">
        Elija los campos de codificación geográfica obligatorios y también los campos de datos que desee incluir.
      </p>
      <form id="fieldsForm" novalidate>
        <div class="form-group row">
          <label for="addressInput" class="col-form-label col-sm-4">Dirección</label>
          <div class="col-sm-6">
            <select id="addressInput" name="dirección" class="form-control" required></select>
            <div class="invalid-feedback">
              Por favor elija un campo para dirección.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="cityInput" class="col-form-label col-sm-4">Ciudad</label>
          <div class="col-sm-6">
            <select id="cityInput" name="ciudad" class="form-control" required></select>
            <div class="invalid-feedback">
              Por favor elija un campo para ciudad.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="provinceInput" class="col-form-label col-sm-4">Departamento</label>
          <div class="col-sm-6">
            <select id="provinceInput" name="departamento" class="form-control" required></select>
            <div class="invalid-feedback">
              Por favor elija un campo para departamento.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="postalCodeInput" class="col-form-label col-sm-4">Código postal</label>
          <div class="col-sm-6">
            <select id="postalCodeInput" name="codigo postal" class="form-control" required></select>
            <div class="invalid-feedback">
              Por favor elija un campo para codigo postal.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="countryInput" class="col-form-label col-sm-4">Pais</label>
          <div class="col-sm-6">
            <select id="countryInput" name="país" class="form-control" required></select>
            <div class="invalid-feedback">
              Por favor elija un campo para país
            </div>
          </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-4">
              Campos opcionales <small><i>(Optional)</i></small>
            </legend>
            <div id="dataFieldsContainer" class="col-sm-6 mt-1"></div>
          </div>
        </fieldset>

        <hr class="my-4" />
        <p>
          Cuando este listo, click el botón debajo de geocode
          <span id="fileSummarySpan"></span> y carguelo a su mapa.
        </p>
        <div id="progressBarContainer" class="progress mb-4" style="display: none;">
          <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 0%;">
            0%
          </div>
        </div>
        <button id="importReturnButton" class="btn btn-danger">Regresar</button>
        <button id="plotButton" class="btn btn-primary">Grafico</button>
      </form>
    </section>

    <!--  HeadMap Section -->
    <section id="routeSection" class="jumbotron" style="display: none;">
      <div class="row">
        <div class="col">
          <h1 class="display-5">Visualizar resúltados</h1>
          <p class="lead">
            A continuación podra visualizar los resúltados del mapa de calor
          </p>
          <div id="map"></div>
          <div class="row mt-4">
            <div class="col">
              <b>Selected Location</b>
              <pre id="locationPre">No location to show.</pre>
            </div>
            <div class="col">
              <b>Selected Data</b>
              <pre id="dataPre">No data to show.</pre>
            </div>
          </div>
        </div>
        <div class="col">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Location</th>
                <th scope="col">Address</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody id="locationTableBody">
              <tr>
                <td colspan="3">No directions to show.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr class="my-4" />
      <p>
        Click uno de los botones de abajo para exportar un reporte PDF or exportar su 
        JSON data.
      </p>
      <button id="fieldsReturnButton" class="btn btn-danger">Regresar</button>
      <button id="exportPdfButton" class="btn btn-primary">Exportar PDF</button>
      <a id="exportJsonButton" class="btn btn-primary" href="#">Exportar JSON</a>
    </section>
  </div>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.apiKey %>&libraries=places,visualization"></script>
</body>

</html>